.secondDiv {
  width: 60%;
  margin: auto;
}

.Forecast {
  display: flex;
  justify-content: space-evenly;
}

.Location {
  text-align: center;
  display: none;
}

#error {
  display: none;
  color: red;
}
